.loader{
    padding: 4rem 0;
}
.loader img{
    width:50px;
    animation: rotate 2s linear infinite;
}
  
@keyframes rotate {
    
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}